flows/sae-audit.yaml
id: aurekai_sae_audit
namespace: aurekai.memory

description: Run SAE audit against an artifact and emit feature outputs.

inputs:
  - id: aurekai_version
    type: STRING
    defaults: "0.8.0-alpha.4"
  - id: akai_package_version
    type: STRING
    defaults: "0.8.0-alpha.4"
  - id: aurekai_manifest_schema
    type: STRING
    defaults: "aurekai.deploy.v1"
  - id: helm_chart_version
    type: STRING
    defaults: "0.8.1"
  - id: recipe
    type: STRING
    defaults: recipe.json

tasks:
  - id: run_sae_audit
    type: io.kestra.plugin.scripts.shell.Commands
    commands:
      - akai run {{ inputs.recipe }} --sae-audit
